* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --transition: all 400ms ease;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    color: black;
    background: #e6dfdf;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1rem;
}

a {
    color: red;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;

}

.btn {
    display: inline-block;
    background: white;
    color: red;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover {
    color: black;
    background: transparent;
    border-color: red;

}

.btn-primary {
    background: red;
    color: white;
    border-radius: 20px;
}

/*============NAVIGATION============*/
nav {
    /* background: red; */
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    margin-top: 5px;
}

.logo img {
    height: 20%;
    width: 20%;
}

.window-scroll {
    background: whitesmoke;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

nav button {
    display: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav-menu a {
    font-size: 0.9rem;
    transition: var(--transition);
}

.nav-menu a:hover {
    color: white;
    font-size: 1.1rem;
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    33% {
        opacity: 0;
    }

    67% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}

.img-contain {
    height: 100vh;
    width: 100%;
}

.imagess {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    bottom: 0;
    animation: fade 20s ease-in-out infinite alternate;
}

img:nth-of-type(1) {
    animation-delay: 0s;
}

img:nth-of-type(2) {
    animation-delay: 4s;
}

img:nth-of-type(3) {
    animation-delay: 8s;
}


header {
    position: relative;
    top: -10rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header-left p {
    margin: 1rem 0 2.4rem;
}


.platforms {
    background: rgb(255, 255, 255);
    /* height: 29rem; */

}

.platforms h1 {
    line-height: 1;
    margin-bottom: 3rem;
}

.platform-container {
    display: grid;
    grid-template-columns: 40% 60%;

}

.platform-left p {
    margin: 4rem;

}

.platform-left {
    margin: 1rem 0 3rem;

}

.platform-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;

}

.platform {
    background: rgb(236, 240, 236);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.platform:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    box-sizing: 3rem;
    cursor: pointer;
}



.faqs {
    margin-top: 10rem;
    background: rgb(148, 150, 154);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faq {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: red;
    cursor: pointer;
}

.faq h4 {
    font-size: 1rem;
    line-height: 2.2;
}

.faq-icon {
    align-self: flex-start;
    font-size: 1.2rem;
}

.faq p {
    margin-top: 0.8rem;
    display: none;
}

.faq.open p {
    display: block;
}


@media screen and (max-width:1024px) {
    container {
        width: var(--container-width-md);
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    nav button {
        display: inline-block;
        background-color: transparent;
        font-size: 1.8rem;
        color: red;
        cursor: pointer;
    }

    nav button#close-menu-btn {
        display: none;
    }

    .nav-menu {
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .nav-menu li {
        width: 100%;
        height: 5.8rem;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top right;
    }

    .nav-menu li:nth-child(2) {

        animation-delay: 200ms;
    }

    .nav-menu li:nth-child(3) {
        animation-delay: 300ms;
    }

    .nav-menu li:nth-child(4) {
        animation-delay: 400ms;
    }

    .nav-menu li:nth-child(5) {
        animation-delay: 500ms;
    }



    @keyframes animateNavItems {
        0% {
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }

        100% {
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;
        }
    }

    .nav-menu li a {
        background: whitesmoke;
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;

    }

    .nav-menu li a:hover {
        background: white;
        color: red;
    }

    header {
        height: 52vh;
        margin-bottom: 4rem;
    }

    .header-container {
        gap: 0;
        padding-bottom: 3rem;
    }

    platforms {
        height: auto;
    }

    .platform-container {
        grid-template-columns: 1fr;
        gap: 3rem;

    }

    .platform-left {
        margin-right: 0;
    }

    .faqs-container {
        grid-template-columns: 1fr;
    }

    .faq {
        padding: 1.5rem;


    }

}

@media screen and (max-width:600px) {

    .container {
        width: var(--container-width-sm);
    }

    .nav-menu {
        right: 3%;
    }

    header {
        height: 100vh;
    }

    .header-container {
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }

    .header-left p {
        margin-bottom: 1.3rem;
    }

    .platform-right {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .platform {
        padding: 1rem;
        border-radius: 1rem;
    }

    .platform-icon {
        margin-top: 4px;
        display: inline-block;
    }
}